.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.justify-content-between {
    justify-content: space-between;
}

.title {
    text-align: center;
    font-size: 36px;
}

a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

li {
    list-style: none;
}

* {
    transition: all 0.4s;
}

img {
    width: 100%;
}